<%= form_for user, url: sessions_path, html: {id: 'login-form', class: 'form-signin'} do |f| %>
  <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
  <%= f.label :email, 'Email', class: 'sr-only', 'for' => 'inputEmail'  %>
  <%= f.text_field :email, id: 'inputEmail', class: 'form-control', placeholder: 'Email'  %>

  <%= f.label :password, 'Password', class: 'sr-only', 'for' => 'inputPassword' %>
  <%= f.password_field :password, id: 'inputPassword', class: 'form-control', placeholder: 'Password'%>
  
  <%= f.submit 'Login', class: 'btn btn-lg btn-primary btn-block' %>
<% end %>
